@model IEnumerable<Gestor.Models.Rateio>

@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<Gestor.Models.Rateio> rateios = ViewBag.OnePageHistory;
}
<h2>Índice</h2>
<p>
    @Html.ActionLink("Criar novo grupo de rateio", "Create")
</p>

@using (Html.BeginForm("Search", "Rateios", FormMethod.Post))
{
    <p>
        Grupo de Rateio: @Html.TextBox("search")
        <input type="submit" value="Procurar" />
    </p>
}

<table class="table table-hover">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horas)
        </th>
        <th></th>
    </tr>
    @foreach (var item in rateios)
    {
        <tr>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.RateioId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.RateioId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.RateioId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horas)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.RateioId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.RateioId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.RateioId })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageHistory, page => Url.Action("Index", new { page }))