@using Gestor.Models
@{
    ViewBag.Title = "Início";
}

<div class="jumbotron">
    <h1>Plastifluor</h1>
    <img src="http://www.plastifluor.com.br/images/produtos-01.png" alt="Produtos Plastifluor" height="135"/>
    @*<p class="lead">Calcular</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Calcular</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visão</h2>
        @*<p><h3>@Html.ActionLink("DfxProdRev", "Index", "DfxProdRevs")</h3></p>*@
        <p><h3>@Html.ActionLink("Encapamento Tubos", "Index", "EncapTubos")</h3></p>
        <p><h3>@Html.ActionLink("Estruturas", "Index", "Estruturas")</h3></p>
        <p><h3>@Html.ActionLink("Graxas", "Index", "Graxas")</h3></p>
        <p><h3>@Html.ActionLink("Grupos de Rateio", "Index", "GruposRateio")</h3></p>
        <p><h3>@Html.ActionLink("Índice Formação Preço de Vendas", "Index", "IndiceRateioFormacaoPrecoVendas")</h3></p>
        <p><h3>@Html.ActionLink("Índice Rateio Análise Lucratividade", "Index", "IndiceRateioLucratividades")</h3></p>
        <p><h3>@Html.ActionLink("Insumos", "Index", "Insumoes")</h3></p>
        <p><h3>@Html.ActionLink("Planejamento Compras", "Index", "PlanejCompras")</h3></p>
        <p><h3>@Html.ActionLink("Planejamento MOD", "Index", "PlanejMods")</h3></p>
        <p><h3>@Html.ActionLink("Planejamento Necessidades", "Index", "PlanejNecessidades")</h3></p>
        <p><h3>@Html.ActionLink("Planejamento Produção", "Index", "PlanejProducao")</h3></p>
        <p><h3>@Html.ActionLink("Planejamento Vendas", "Index", "PlanejVendas")</h3></p>
        <p><h3>@Html.ActionLink("Preços Exportação", "Index", "PrecosExportacao")</h3></p>
        <p><h3>@Html.ActionLink("Preços Nacionais", "Index", "PrecoNacional")</h3></p>
        <p><h3>@Html.ActionLink("Pré-Formas", "Index", "PreFormas")</h3></p>
        <p><h3>@Html.ActionLink("ProcTubos", "Index", "ProcTubos")</h3></p>
        <p><h3>@Html.ActionLink("Produtos", "Index", "Produtoes")</h3></p>
        <p><h3>@Html.ActionLink("Quadro", "Index", "Quadros")</h3></p>
        <p><h3>@Html.ActionLink("Quadro Percentual", "Index", "QuadrosPercentuais")</h3></p>
        <p><h3>@Html.ActionLink("Resinas PTFE", "Index", "ResinaPtfe")</h3></p>
    </div>

    <div class="col-md-4">
        <h2>Ação</h2>
        <p><h3>@Html.ActionLink("Atualizar Custos de Cargos e Setores", "UploadFile", "Upload")</h3></p>
        <p><h3>@Html.ActionLink("Atualizar Despesas Fixas", "DespFixas", "Upload")</h3></p>
        <p><h3>@Html.ActionLink("Atualizar Faturamento Histórico", "FatHist", "Upload")</h3></p>
        <br />
        <p><h2>Cálculo</h2></p>
        @*<p><h3>@Html.ActionLink("DfxProdRev", "DfxProdRev", "Calculo")</h3></p>*@
        @*<p><h3>@Html.ActionLink("Encapamento Tubos", "EncapTubo", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Estruturas", "Estrutura", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Gerar PlanejVendas", "GerarPlanejVendas", "PlanejVendas")</h3></p>
        <p><h3>@Html.ActionLink("Graxas", "Graxas", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Grupos de Rateio", "GrupoRateio", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Índice Formação Preço de Vendas", "FormacaoPrecoVenda", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Índice Rateio Análise Lucratividade", "Lucratividade", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Insumos", "Insumo", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Planejamento Compras", "PlanejCompra", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Planejamento MOD", "PlanejMod", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Planejamento Necessidades", "PlanejNecessidade", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Planejamento Produção", "PlanejProducao", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Planejamento Vendas", "PlanejVendas", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Preços Exportação", "PrecoExportacao", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Preços Nacionais", "PrecoNacional", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Pré-Formas", "PreForma", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("ProcTubos", "ProcTubos", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Produtos", "Produto", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Quadro", "Quadro", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Quadro Percentual", "QuadroPercentual", "Calculo")</h3></p>
        <p><h3>@Html.ActionLink("Resina PTFE", "ResinaPtfe", "Calculo")</h3></p>*@
        <p><h3>@Html.ActionLink("Calcular", "Tudo", "Calculo")</h3></p>

    </div>
    
    <div class="col-md-4">
        <h2>Manutenção</h2>
        <p><h3>@Html.ActionLink("Aditivos", "Index", "Aditivos")</h3></p>
        <p><h3>@Html.ActionLink("Áreas", "Index", "Areas")</h3></p>
        <p><h3>@Html.ActionLink("Cargas", "Index", "Cargas")</h3></p>
        <p><h3>@Html.ActionLink("Categorias", "Index", "Categorias")</h3></p>
        <p><h3>@Html.ActionLink("Categorias de Cliente", "Index", "CategoriasCliente")</h3></p>
        @*<p><h3>@Html.ActionLink("Categorias de Despesas Fixas", "Index", "CatDespFixas")</h3></p>*@
        <p><h3>@Html.ActionLink("Classes de Custo", "Index", "ClasseCustoes")</h3></p>
        <p><h3>@Html.ActionLink("Cubo de Estoque", "Index", "CuboEstoques")</h3></p>
        <p><h3>@Html.ActionLink("Custos de Cargos e Setores", "Index", "CustoCargos")</h3></p>
        <p><h3>@Html.ActionLink("Custos da Folha", "Index", "CustoFolhas")</h3></p>
        <p><h3>@Html.ActionLink("Despesas Esportacao", "Index", "DespesasExportacao")</h3></p>
        <p><h3>@Html.ActionLink("Despesas Fixas", "Index", "DespesasFixas")</h3></p>
        <p><h3>@Html.ActionLink("Domínios", "Index", "Dominios")</h3></p>
        <p><h3>@Html.ActionLink("Embalagens", "Index", "Embals")</h3></p>
        <p><h3>@Html.ActionLink("Extrusoras", "Index", "Extrusoras")</h3></p>
        <p><h3>@Html.ActionLink("Fabricantes", "Index", "Fabricantes")</h3></p>
        <p><h3>@Html.ActionLink("Famílias", "Index", "Familias")</h3></p>
        @*<p><h3>@Html.ActionLink("Faturamento Histórico", "Index", "FaturamentoHistorico")</h3></p>*@
        <p><h3>@Html.ActionLink("Faturamento Histórico", "Index", "FatHistorico")</h3></p>
        <p><h3>@Html.ActionLink("Fretes", "Index", "Fretes")</h3></p>
        <p><h3>@Html.ActionLink("ICMS Frete", "Index", "IcmsFretes")</h3></p>
        <p><h3>@Html.ActionLink("Índices", "Index", "Indices")</h3></p>
        <p><h3>@Html.ActionLink("Linhas", "Index", "Linhas")</h3></p>
        <p><h3>@Html.ActionLink("Lubrificantes", "Index", "Lubrificantes")</h3></p>
        <p><h3>@Html.ActionLink("Máquinas", "Index", "QtdMaquinas")</h3></p>
        <p><h3>@Html.ActionLink("Marcas", "Index", "Marcas")</h3></p>
        <p><h3>@Html.ActionLink("Medidas Fitas", "Index", "MedidaFitas")</h3></p>
        <p><h3>@Html.ActionLink("Operações", "Index", "Operacaos")</h3></p>
        <p><h3>@Html.ActionLink("Padrões Fixos", "Index", "PadroesFixos")</h3></p>
        <p><h3>@Html.ActionLink("Parâmetros", "Index", "Parametros")</h3></p>
        <p><h3>@Html.ActionLink("Parâmetros de Graxas", "Index", "ParmGraxas")</h3></p>
        <p><h3>@Html.ActionLink("PCP", "Index", "Pcps")</h3></p>
        <p><h3>@Html.ActionLink("Prensa Pré-Formas", "Index", "PrensaPreFormas")</h3></p>
        <p><h3>@Html.ActionLink("Quantidade por Embalagem", "Index", "QtdEmbalagems")</h3></p>
        <p><h3>@Html.ActionLink("Rateios", "Index", "Rateios")</h3></p>
        <p><h3>@Html.ActionLink("Resinas", "Index", "Resinas")</h3></p>
        <p><h3>@Html.ActionLink("Resinas Base", "Index", "ResinaBase")</h3></p>
        <p><h3>@Html.ActionLink("Semanas de Estoque", "Index", "SemanasEstoque")</h3></p>
        <p><h3>@Html.ActionLink("Sequências", "Index", "Sequencias")</h3></p>
        <p><h3>@Html.ActionLink("Séries", "Index", "Series")</h3></p>
        <p><h3>@Html.ActionLink("Setores", "Index", "Setors")</h3></p>
        <p><h3>@Html.ActionLink("Substituição de Produto", "Index", "Ajustes")</h3></p>
        <p><h3>@Html.ActionLink("Sucatas e Sub-Produtos", "Index", "Sucatas")</h3></p>
        <p><h3>@Html.ActionLink("TD Históricos", "Index", "TdHistoricos")</h3></p>
        <p><h3>@Html.ActionLink("Tipos", "Index", "Tipoes")</h3></p>
        <p><h3>@Html.ActionLink("Tipos de Alteração", "Index", "TipoAlteracaos")</h3></p>
        <p><h3>@Html.ActionLink("Tipos de Cliente", "Index", "TiposCliente")</h3></p>
        <p><h3>@Html.ActionLink("Tipos de Produção", "Index", "TipoProducaos")</h3></p>
        <p><h3>@Html.ActionLink("Tipos de Venda", "Index", "TiposVenda")</h3></p>
        <p><h3>@Html.ActionLink("UFs", "Index", "Ufs")</h3></p>
        <p><h3>@Html.ActionLink("Unidades", "Index", "Unidades")</h3></p>
    </div>
</div>