@model IEnumerable<Gestor.Models.EncapTubo>
@using X.PagedList.Mvc;
@using X.PagedList;
@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<Gestor.Models.EncapTubo> encaps = ViewBag.OnePageHistory;
}
<h2>Índice</h2>
<p>
    @Html.ActionLink("Criar novo encapamento de tubos", "Create")
</p>
@using (Html.BeginForm("Search", "EncapTuboes", FormMethod.Post))
{
    <p>
        Código: @Html.TextBox("search")
        <input class="btn btn-sm" type="submit" value="Procurar" />
    </p>
}
<div class="height800">
    <table class="table fancyTable">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto.Apelido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Unidade.Apelido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DextRevest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DintRevest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResinaBase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aditivo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DenRev)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PesoRevest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VelRevest)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PctCarga)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resina)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Master)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in encaps)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Alterar", "Edit", new { id = item.Id })<br />
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id })<br />
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produto.Apelido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unidade.Apelido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DextRevest)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DintRevest)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResinaBase)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aditivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DenRev)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PesoRevest)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VelRevest)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PctCarga)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Master)
                    </td>
                    <td>
                        @Html.ActionLink("Alterar", "Edit", new { id = item.Id })<br />
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id })<br />
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.PagedListPager((IPagedList)ViewBag.OnePageHistory, page => Url.Action("Index", new { page }))

@section scripts {
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.fixedheadertable.min.js"></script>

    <script type="text/javascript">

        $('.table').fixedHeaderTable({
            footer: true,
            cloneHeadToFoot: false,
            altClass: 'odd',
            autoShow: true
        });

    </script>

}