@model IEnumerable<Gestor.Models.MedidaFita>
@using X.PagedList.Mvc;
@using X.PagedList;
@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<Gestor.Models.MedidaFita> medidas = ViewBag.OnePageHistory;
}
<h2>Índice</h2>
<p>
    @Html.ActionLink("Criar nova medida", "Create")
</p>

@using (Html.BeginForm("Search", "MedidaFitas", FormMethod.Post))
{
    <p>
        Nome: @Html.TextBox("search")
        <input type="submit" value="Procurar" />
    </p>
}

<table class="table table-hover">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LarguraMm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComprimentoMetros)
        </th>
        <th></th>
    </tr>
    @foreach (var item in medidas)
    {
        <tr>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.MedidaFitaId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.MedidaFitaId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.MedidaFitaId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LarguraMm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComprimentoMetros)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.MedidaFitaId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.MedidaFitaId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.MedidaFitaId })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageHistory, page => Url.Action("Index", new { page }))