@model List<Gestor.Models.Aumdim>
@{
    ViewBag.Title = "Alterar Aumdim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alterar Aumdim</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table class="table table-hover">
        <tr>
            <th>Item</th>
            <th>Descrição</th>
            <th>Critério</th>
            <th>Aumdim</th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(m => Model[i].Id)

        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model[i].Apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].Descricao)
            </td>

            <td>
                <div class="form-group">
                    <div class="control-label col-md-2 spleft">Critério:</div>
                    <div class="col-md-10 spright">
                        @Html.EditorFor(model => Model[i].Criterio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model[i].Criterio, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>

            <td>
                <div class="form-group">
                    <div class="control-label col-md-2 spleft">Aumdim:</div>
                    <div class="col-md-10 spright">
                        @Html.EditorFor(model => Model[i].Aum, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => Model[i].Aum, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>

        </tr>
        }

    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Gravar e Calcular" class="btn btn-primary" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Retornar a lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
