@model IEnumerable<Gestor.Models.PlanejVenda>
@using X.PagedList.Mvc;
@using X.PagedList;
@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<Gestor.Models.PlanejVenda> planej = ViewBag.OnePageHistory;
}

<div class="row">
    <div class="col-md-4">
        <h2>Índice</h2>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <p></p>
        <p><a href="/PlanejVendas/Prefilter" class="btn btn-primary">Filtros</a></p>
    </div>
</div>


<p>
    @Html.ActionLink("Criar novo planejamento de compra", "Create")
</p>
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Search", "PlanejVendas", FormMethod.Post))
        {
            <p>
                Código: @Html.TextBox("search")
                <input type="submit" value="Procurar" />
            </p>
        }
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Incremento", "PlanejVendas", FormMethod.Post))
        {
            <p>
                Inc. Global (%): @Html.TextBox("incremento", (float)ViewBag.incremento)
                <input type="submit" value="Calcular" />
            </p>
        }
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("DespExp", "PlanejVendas", FormMethod.Post))
        {
            <p>
                Desp. Exp. (%): @Html.TextBox("DespExp", (float)ViewBag.despExp)
                <input type="submit" value="Calcular" />
            </p>
        }
    </div>
</div>
<table class="table table-hover">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoDiretoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoDiretoMats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoDiretoMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoFixoFabrica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustoFixAdmCom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AliquotaIpi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos09)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos08)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos07)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos06)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos05)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos04)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos03)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos02)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAnoMenos01)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QvQtNacAno00)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtNacMediaMensal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMed1o3m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMed2o3m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMed3o3m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMed4o3m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvNacAdotado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StMedia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IcmsMedio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComissaoMediaNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrazoRecebMedioNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreteNacPct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesRecebMedNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos09)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos08)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos07)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos06)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos05)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos04)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos03)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos02)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAnoMenos01)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpAno00)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtExpMediaMensal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMedEx1o3m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMedEx2o3m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMedEx3o3m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMedEx4o3m)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvMedExAdotado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComissaoExpPct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrazoRecebMedExp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MesRecebMedExp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComentarioCelulaBi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Criterio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VartC1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VarTc2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VartC3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VartC4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos09)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos08)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos07)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos06)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos05)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos04)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos03)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos02)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAnoMenos01)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacAno00)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqQtNacTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PplKgNacTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvvpvaVarPvAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PcbRbNacTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PipiIpiNacAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos09)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos08)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos07)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos06)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos05)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos04)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos03)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos02)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAnoMenos01)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PstStNacAno00)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PfbFatBrAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PicmsIcmsNacAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnFatBrutoNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnImpostos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnRecLiquidaNacional)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnComissaoNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnFreteNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnRecLiquidaVendaNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnCustoDirMateriaisNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnCustoDirModNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnFixoFabricaNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnMCNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnMCNacPct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnCustoFixoAdmComNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnResultadoBrutoNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnResultadoBrutoNacPct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrnComentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeCriterio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeAumDim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PqeQtExpTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PpleKgExpTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PvppvaVPVexAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreUsdRcExpUsRecExportUSD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreRecExportRs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreComissaoExportRs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreFreteDespExportRs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreRecLiqVendaExportRs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreCustoDiretoMatModExptRs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreMCDiretaExp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreCustoFixoFabExpRs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreMCExportRs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreMCExportPct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreCustoFixoAdmComExpRs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreResultadoBrutoExpRs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreResBrutoExpPct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FbQuantTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FbPesoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FbFaturamentoBrutoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RlImpostoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RlReceitaLiquidaTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RlComissaoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RlFreteDespExpTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RlRecLiqVendaTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.McCustoDirMatModTotal)
        </th>
        @* --- *@
        <th>
            @Html.DisplayNameFor(model => model.McCustoModTotalAjustado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.McCustoDirMaTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.McDiretaAjustadaTotal)
        </th>
        @* --- *@
        <th>
            @Html.DisplayNameFor(model => model.McCustoFixoFabricaTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.McCustoFixoFabricaAjustado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.McMargemContribTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.McMCbTotalPct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoCustoFixoComAdmTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoCustoFixoComAdmAjustadoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoResultadoOperacionalTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoResultadoOperacionalTotalPct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdTotAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GifTotAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComTotAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrtNacAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrDexpAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdsmtCfMatAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtvQtTottAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorasProdTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecNacAno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAnoMenos2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecExpAno)
        </th>
        <th></th>
    </tr>
    @foreach (var item in planej)
    {
        <tr>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.Id })
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PesoUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoDiretoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoDiretoMats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoDiretoMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoFixoFabrica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoFixAdmCom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AliquotaIpi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos09)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos08)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos06)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos05)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos04)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos03)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAnoMenos01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QvQtNacAno00)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtNacMediaMensal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PvMed1o3m)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PvMed2o3m)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PvMed3o3m)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PvMed4o3m)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PvNacAdotado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StMedia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IcmsMedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComissaoMediaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoRecebMedioNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreteNacPct)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.MesRecebMedExp)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.MesRecebMedNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos09)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos08)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos06)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos05)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos04)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos03)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAnoMenos01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpAno00)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtExpMediaMensal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PvMedEx1o3m)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PvMedEx2o3m)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PvMedEx3o3m)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PvMedEx4o3m)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PvMedExAdotado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComissaoExpPct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrazoRecebMedExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MesRecebMedExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComentarioCelulaBi)
            </td>
            <td>
                <a href="/PlanejVendas/VarTc">@item.Criterio</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarTc">@item.VartC1</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarTc">@item.VarTc2</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarTc">@item.VartC3</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarTc">@item.VartC4</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos09)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos08)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos06)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos05)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos04)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos03)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAnoMenos01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacAno00)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqQtNacTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PplKgNacTotal)
            </td>
            @* --- *@
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos12</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos11</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos10</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos9</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos8</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos7</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos6</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos5</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos4</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos3</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAnoMenos2</a>
            </td>
            <td>
                <a href="/PlanejVendas/VarPv">@item.PvvpvaVarPvAno</a>
            </td>
            @* --- *@
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcbRbNacTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PipiIpiNacAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos09)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos08)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos07)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos06)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos05)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos04)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos03)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAnoMenos01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PstStNacAno00)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PfbFatBrAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicmsIcmsNacAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnFatBrutoNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnImpostos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnRecLiquidaNacional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnComissaoNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnFreteNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnRecLiquidaVendaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnCustoDirMateriaisNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnCustoDirModNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnFixoFabricaNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnMCNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnMCNacPct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnCustoFixoAdmComNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnResultadoBrutoNac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnResultadoBrutoNacPct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrnComentario)
            </td>
            @* --- *@
            <td>
                <a href="/PlanejVendas/Aumdim">@item.PqeCriterio</a>
            </td>
            <td>
                <a href="/PlanejVendas/Aumdim">@item.PqeAumDim</a>
            </td>
            @* --- *@
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PqeQtExpTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PpleKgExpTotal)
            </td>
            @* --- *@
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos12), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos11), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos10), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos9), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos8), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos7), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos6), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos5), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos4), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos3), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAnoMenos2), "Varvex")
            </td>
            <td>
                @Html.ActionLink(String.Format("{0:P1}", item.PvppvaVPVexAno), "Varvex")
            </td>
            @* --- *@
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreUsdRcExpUsRecExportUSD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreRecExportRs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreComissaoExportRs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreFreteDespExportRs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreRecLiqVendaExportRs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreCustoDiretoMatModExptRs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreMCDiretaExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreCustoFixoFabExpRs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreMCExportRs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreMCExportPct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreCustoFixoAdmComExpRs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreResultadoBrutoExpRs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreResBrutoExpPct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FbQuantTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FbPesoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FbFaturamentoBrutoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RlImpostoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RlReceitaLiquidaTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RlComissaoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RlFreteDespExpTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RlRecLiqVendaTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.McCustoDirMatModTotal)
            </td>
            @* --- *@
            <td>
                @Html.DisplayFor(modelItem => item.McCustoModTotalAjustado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.McCustoDirMaTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.McDiretaAjustadaTotal)
            </td>
            @* --- *@
            <td>
                @Html.DisplayFor(modelItem => item.McCustoFixoFabricaTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.McCustoFixoFabricaAjustado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.McMargemContribTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.McMCbTotalPct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoCustoFixoComAdmTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoCustoFixoComAdmAjustadoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoResultadoOperacionalTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoResultadoOperacionalTotalPct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdTotAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GifTotAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComTotAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrtNacAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FrDexpAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CdsmtCfMatAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtvQtTottAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorasProdTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecNacAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAnoMenos2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecExpAno)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.Id })
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)ViewBag.OnePageHistory, page => Url.Action("Index", new { page }))