@model Gestor.Models.QtdEmbalagem

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Quantidade por embalagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CartuchoRolCx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartuchoRolCx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CartuchoCxPlt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CartuchoCxPlt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayRolCx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayRolCx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarretelRolCx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarretelRolCx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarretelCxPlt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarretelCxPlt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedidaFitasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedidaFitasId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.QtdEmbalagemId }) |
    @Html.ActionLink("Retornar a lista", "Index")
</p>
