@model IEnumerable<Gestor.Models.TipoProducao>

@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<Gestor.Models.TipoProducao> tipos = ViewBag.OnePageHistory;
}
<h2>Índice</h2>
<p>
    @Html.ActionLink("Criar novo tipo de produção", "Create")
</p>

@using (Html.BeginForm("Search", "TipoProducaos", FormMethod.Post))
{
    <p>
        Tipo de Produção: @Html.TextBox("search")
        <input type="submit" value="Procurar" />
    </p>
}

<table class="table table-hover">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>
    @foreach (var item in tipos)
    {
        <tr>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.TipoProducaoId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.TipoProducaoId }) |
                @Html.ActionLink("Elimninar", "Delete", new { id = item.TipoProducaoId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.TipoProducaoId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.TipoProducaoId }) |
                @Html.ActionLink("Elimninar", "Delete", new { id = item.TipoProducaoId })
            </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageHistory, page => Url.Action("Index", new { page }))