@model Gestor.Models.Insumo
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string[] unity = new string[]
    {
"null",
"caixa",
"peça",
"kilograma",
"metro",
"rolo",
"milheiro",
"null",
"não informado",
"hora",
"unidade",
"litro"
    };

}

<h2>Detalhes</h2>
<div>
    <h4>Insumo</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnidadeId)
        </dt>
        <dd>
            @unity[Model.UnidadeId]
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo.Apelido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClasseCusto.Apelido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClasseCusto.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Apelido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Familia.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Familia.Apelido)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Linha.Apelido)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Linha.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cotacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cotacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecoUsd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecoUsd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecoRs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecoRs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Icms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Icms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ipi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ipi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cofins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cofins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DespExtra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DespExtra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DespImport)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DespImport)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Finalidade.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Finalidade.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnidadeConsumoId)
        </dt>
        <dd>
            @unity[Model.UnidadeConsumoId]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdUnddConsumo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtdUnddConsumo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QtdMltplCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QtdMltplCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormaPgto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormaPgto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prazo1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prazo1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prazo2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prazo2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PctPgto1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PctPgto1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImportPzPagDesp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImportPzPagDesp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrcBrtCompra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrcBrtCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CrdtIcms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CrdtIcms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CrdtIpi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CrdtIpi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CrdtPis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CrdtPis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CrdtCofins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CrdtCofins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SumCrdImpostos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SumCrdImpostos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DspImportacao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DspImportacao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustoExtra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustoExtra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Custo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Custo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustoUndCnsm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustoUndCnsm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PgtFornecImp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PgtFornecImp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsoStru)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsoStru)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.InsumoId }) |
    @Html.ActionLink("Retornar a lista", "Index")
</p>
