@model Gestor.Models.CuboTrabalhado

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Faturamento histórico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Familia.Apelido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familia.Apelido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Regiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Regiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Familia.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familia.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataValidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataValidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoVenda.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoVenda.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFaturamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFaturamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotaFiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaFiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceitaBruta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceitaBruta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorIpi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorIpi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrazoPagMedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrazoPagMedio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatuBruto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatuBruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faturado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faturado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesFatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesFatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faturado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faturado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MesEntregue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MesEntregue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteNfDataFat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteNfDataFat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoAjustado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoAjustado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodNomeProdutoUnidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodNomeProdutoUnidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidade.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidade.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantAjustada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantAjustada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PesoProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PesoProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Juridico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Juridico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCliente.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaCliente.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegmentoCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegmentoCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrazoEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrazoEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxaDolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxaDolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatBrutoUsd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatBrutoUsd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoIndividual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoIndividual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceitaLiquida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceitaLiquida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comissao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comissao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoFinancCobranca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoFinancCobranca)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retornar a lista", "Index")
</p>
