
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Selecione a Visão desejada</h2>
<p><h3>@Html.ActionLink("Encapamento Tubos", "Index", "EncapTubos")</h3></p>
<p><h3>@Html.ActionLink("Estruturas", "Index", "Estruturas")</h3></p>
<p><h3>@Html.ActionLink("Graxas", "Index", "Graxas")</h3></p>
<p><h3>@Html.ActionLink("Grupos de Rateio", "Index", "GruposRateio")</h3></p>
<p><h3>@Html.ActionLink("Índice Formação Preço de Vendas", "Index", "IndiceRateioFormacaoPrecoVendas")</h3></p>
<p><h3>@Html.ActionLink("Índice Rateio Análise Lucratividade", "Index", "IndiceRateioLucratividades")</h3></p>
<p><h3>@Html.ActionLink("Insumos", "Index", "Insumoes")</h3></p>
<p><h3>@Html.ActionLink("Planejamento Compras", "Index", "PlanejCompras")</h3></p>
<p><h3>@Html.ActionLink("Planejamento MOD", "Index", "PlanejMods")</h3></p>
<p><h3>@Html.ActionLink("Planejamento Necessidades", "Index", "PlanejNecessidades")</h3></p>
<p><h3>@Html.ActionLink("Planejamento Produção", "Index", "PlanejProducao")</h3></p>
<p><h3>@Html.ActionLink("Planejamento Vendas", "Index", "PlanejVendas")</h3></p>
<p><h3>@Html.ActionLink("Preços Exportação", "Index", "PrecosExportacao")</h3></p>
<p><h3>@Html.ActionLink("Preços Nacionais", "Index", "PrecoNacional")</h3></p>
<p><h3>@Html.ActionLink("Pré-Formas", "Index", "PreFormas")</h3></p>
<p><h3>@Html.ActionLink("ProcTubos", "Index", "ProcTubos")</h3></p>
<p><h3>@Html.ActionLink("Produtos", "Index", "Produtoes")</h3></p>
<p><h3>@Html.ActionLink("Quadro", "Index", "Quadros")</h3></p>
<p><h3>@Html.ActionLink("Quadro Percentual", "Index", "QuadrosPercentuais")</h3></p>
<p><h3>@Html.ActionLink("Resinas PTFE", "Index", "ResinaPtfe")</h3></p>

