@model Gestor.Models.PlanejMod

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Tem certeza que deseja eliminar o registro?</h3>
<div>
    <h4>Planejamento MOD</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Operacao.CodigoOperacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operacao.CodigoOperacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operacao.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operacao.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setor.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setor.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidade.Apelido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidade.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDe12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDe12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnoMenos1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoMenos1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediaMensal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediaMensal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Retornar a lista", "Index")
        </div>
    }
</div>
