@model Gestor.Models.CustoCargoDireto

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Custo Cargo Direto</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Setor de Produção
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Setor.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Setor.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Operadores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Operadores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoDireta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoDireta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoLiderApoio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoLiderApoio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoDiretaLiderApoio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoDiretaLiderApoio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasModOperadores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasModOperadores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorasModTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorasModTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoUnitario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateioSetor20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateioSetor20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateioSetor40)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateioSetor40)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateioSetor50)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateioSetor50)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateioSetor60)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateioSetor60)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaIndiretos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaIndiretos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SomaDiretoIndireto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SomaDiretoIndireto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RateioCustoUnitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RateioCustoUnitario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retornar a lista", "Index")
</p>
