@model IEnumerable<Gestor.Models.PreForma>
@using X.PagedList.Mvc;
@using X.PagedList;
@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<Gestor.Models.PreForma> preformas = ViewBag.OnePageHistory;
}
<h2>Índice</h2>
<p>
    @Html.ActionLink("Criar nova preforma", "Create")
</p>
@using (Html.BeginForm("Search", "PreFormas", FormMethod.Post))
{
    <p>
        Número: @Html.TextBox("search")
        <input class="btn btn-sm" type="submit" value="Procurar" />
    </p>
}
<div class="height600">
    <table class="table fancyTable">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.PreFormaNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormaDiamE)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VaretaDiamI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Medidas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comprimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tup)
                </th>
                <th>
                    Prensa de Pré-Forma
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preparo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrocaPf)
                </th>
                <th>
                    Extrusora
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecaoPf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KgfPrensagem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PressaoOleo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiamPistaoHidraulico)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KgPfUmida)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in preformas)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Alterar", "Edit", new { id = item.Id })
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PreFormaNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormaDiamE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VaretaDiamI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Medidas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comprimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tup)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrensaPreForma.Apelido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preparo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrocaPf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Extrusora.Apelido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecaoPf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KgfPrensagem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PressaoOleo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiamPistaoHidraulico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KgPfUmida)
                    </td>
                    <td>
                        @Html.ActionLink("Alterar", "Edit", new { id = item.Id })
                        @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.PagedListPager((IPagedList)ViewBag.OnePageHistory, page => Url.Action("Index", new { page }))

@section scripts {
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.fixedheadertable.min.js"></script>

    <script type="text/javascript">

        $('.table').fixedHeaderTable({
            footer: true,
            cloneHeadToFoot: false,
            altClass: 'odd',
            autoShow: true
        });

    </script>

}