@model Gestor.Models.IndiceRateioFormacaoPrecoVenda

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grupo = new string[12];

    using(var db = new Gestor.Models.ApplicationDbContext())
    {
        for (int i = 1; i < 12; i++)
        {
            grupo[i] = db.Rateios.Single(r => r.RateioId == i).Grupo;
        }
    }
}

<h2>Detalhes</h2>

<div>
    <h4>Índice Rateio Formação Preço Venda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GrupoRateio.Grupo)
        </dt>

        <dd>
            @grupo[Model.GrupoRateioId]
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCustoFixo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCustoFixo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoiFabricacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoiFabricacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutroCustoFixoFabricacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutroCustoFixoFabricacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoFixoComacs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoFixoComacs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoFixoComtex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoFixoComtex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoFixoAdminLog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoFixoAdminLog)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retornar a lista", "Index")
</p>
