@model Gestor.Models.GrupoRateio

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Tem certeza que deseja eliminar o registro?</h3>
<div>
    <h4>Grupo de Rateio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apelido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tubo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tubo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fiotec)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fiotec)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gxpuro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gxpuro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gxgraf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gxgraf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graxa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graxa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Retornar a lista", "Index")
        </div>
    }
</div>
